# Python bytecode
__pycache__/
*.py[cod]

# Environments
.venv/
env/
venv/

# IDEs
.vscode/
.idea/

# Data (Tùy chọn: Nếu bạn muốn giữ file data trống trên GitHub)
# data/*.txt

# git add .

# git commit -m "Mô tả việc bạn vừa sửa"

# git push

# git checkout tên nhánh để qua lại 

